<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lin.health">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android:hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.lin.health.temp.TemperatureSensorsActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.lin.health.temp.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:parentActivityName="com.lin.health.temp.TemperatureSensorsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lin.health.ble.ScanningActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lin.health.ble.PeripheralActivity"
            android:label="@string/title_activity_peripheral"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.lin.health.ble.HRDemoActivity"
            android:label="@string/title_activity_hrdemo"
            android:parentActivityName="com.lin.health.ble.ScanningActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lin.health.ble.ScanningActivity" />
        </activity>
    </application>

</manifest>